@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.app {
  display: flex;
  height: 100vh;
  background-color: #f4f4f4;
}

.editor,
.preview {
  flex: 1;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.preview {
  border-left: 1px solid #ddd;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
